# Web framework
fastapi==0.110.0
uvicorn==0.29.0

# Data & validation
pydantic==2.6.4
pandas==1.5.3         
openpyxl==3.1.2
python-dotenv==1.0.1

# STT
faster-whisper==1.0.1

# LLM
llama-cpp-python==0.2.24

# TTS
TTS==0.22.0

# Core dependency
numpy==1.22.0
